<nav>
    <h1>Expense Tracker</h1>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/display">Display</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>